/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** MAIN STYLES ***/

body{
    font-size: 12px;
    background-color: #aad4cf;
    font-family: "Google Sans Flex";
}

.container{
    max-width: 720px;
    margin: 0 auto;
    overflow: hidden;
}

/*** HEADER ***/

header{
    background-image: url("images/lone-starfish-wide.jpg");
    background-size: cover;
    background-position: -72px;
    height: 280px;
}

h1{
    font-size: 3rem;
    color: white;
}

header h1{
    text-align: center;
    padding-top: 120px;
}

/*** NAVBAR ***/


/* Bye-bye underline and default colors */
a{
    text-decoration: none;
    color: black;
}

.navbar{
    width: 720px;
    height: 42px;
    text-align: center;
    margin: 10px;   
    overflow: hidden;
}

nav a{
    display:inline-block;
    font-size: 1.25rem;
    padding: 8px 82px;
    border-right: 2px solid black;
}

/*** MAIN ***/

main{
    color: black;
}

h2{
    font-size: 2rem;
    padding: 16px 0 16px 0;
}

main img{
    width: 240px;
    height: auto;
    padding: 0 16px 0 0;
    float: left;
}

main{
    font-size: 0.9rem;
}

p{
    margin: 0 8px 8px 0 ;
}

ul{
    padding-left: 20px;
    list-style: disc;
}

form{
    width: 680px;
    border: 2px solid black;
    padding: 16px;
}

label{
    font-size: 1.1rem;
}

#name, #email, #msg{
    width: 660px;
    margin: 8px 0;
    padding: 4px;
}

.visit{
    width: 680px;
    margin: 8px 0;
}

footer{
    padding: 16px;
    text-align: right;
}

/* I didn't modify the height of the message input box since <input> is only
single-line */